.single{
    width: 100%;
    display: flex;
    justify-content: center;
}
.single .singles {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.single .btnn{
    width: 100px;
    height: 40px;
    background-color: rgb(73, 67, 80);
    color:white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.7s;
}
.single .singles img{
    width: 800px;
    height: 600px;
}
.single .singles .title{
    color: rebeccapurple;
    margin: 10px;
}
.single .singles .form{
    display: flex;
    width: 70%;
    justify-content:space-between;
}
.single .singles .form .time{
    font-size: 20px;
    color: rebeccapurple;
}
.single .singles .form .names{
    font-size: 20px;
    color: rebeccapurple;

}
.rl{
    display: flex;
    justify-content: center;
    margin: 50px;
    color: rebeccapurple;
    border-bottom: 2px solid rebeccapurple;
}
.single .singles .des{
    width: 800px;
    text-align: justify;
    margin: 10px;
    background-color:antiquewhite;
    font-size: 20px;
}
.single .singles button{
    width: 100px;
    height: 40px;
    background-color: rebeccapurple;
    color: white;
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
    border: none;
    transition: 0.7s;
    cursor: pointer;
}
.single .singles .delete{
    background-color: red;
}
.single .singles button:hover{
    color: blueviolet;
    background-color: transparent;
    border: 2px solid rebeccapurple;
}
.single .singles .title .texts{
    color: black;
    font-size: 600;
    width: auto;
    display: flex;
    justify-content: center;
    outline: none;
    height: 40px;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid rebeccapurple;
}
.single .singles .text{
   width: 800px;
   height: 150px;
   border: none;
   border: 2px solid rebeccapurple;
   outline: none;
   font-size: 20px;
}
@media only screen and (max-width: 850px){
    .single .singles img{
        width: 750px;
        height: 600px;
    }
    .single .singles .des{
        width: 750px;
        text-align: justify;
        margin: 10px;
        background-color:antiquewhite;
        font-size: 20px;
    }
    .single .singles .text{
        width: 750px;
        height: 150px;
        border: none;
        border: 2px solid rebeccapurple;
        outline: none;
        font-size: 20px;
     }
}
@media only screen and (max-width: 760px){
    .single .singles img{
        width: 650px;
        height: 550px;
    }
    .single .singles .des{
        width: 650px;
        text-align: justify;
        margin: 10px;
        background-color:antiquewhite;
        font-size: 20px;
    }
    .single .singles .text{
        width: 650px;
        height: 150px;
        border: none;
        border: 2px solid rebeccapurple;
        outline: none;
        font-size: 20px;
     }
}
@media only screen and (max-width: 660px){
    .single .singles img{
        width: 600px;
        height: 500px;
    }
    .single .singles .des{
        width: 600px;

    }
    .single .singles .text{
        width: 600px;
        height: 150px;
        font-size: 20px;
     }
}
@media only screen and (max-width: 610px){
    .single .singles img{
        width: 500px;
        height: 400px;
    }
    .single .singles .des{
        width: 500px;

    }
    .single .singles .text{
        width: 500px;
        height: 150px;
        font-size: 20px;
     }
}
@media only screen and (max-width: 510px){
    .single .singles img{
        width: 450px;
        height: 300px;
    }
    .single .singles .des{
        width: 450px;

    }
    .single .singles .text{
        width: 450px;
        height: 150px;
        font-size: 20px;
     }
}
@media only screen and (max-width: 460px){
    .single .singles img{
        width: 400px;
        height: 300px;
    }
    .single .singles .des{
        width: 400px;

    }
    .single .singles .text{
        width: 400px;
        height: 150px;
        font-size: 10px;
     }
}
@media only screen and (max-width: 410px){
    .single .singles img{
        width: 350px;
        height: 350px;
    }
    .single .singles .des{
        width: 350px;

    }
    .single .singles .text{
        width: 350px;
        height: 150px;
        font-size: 20px;
     }
}