
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.Apps{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: aliceblue;

}