@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-family: Poppins; */

}
.Main{
    width: 100%;
    height: 100px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px black;
    z-index: 999;
   
}
.Main .ppic{
   width: 55px;
   height: 55px;
   border-radius: 50%;
}
.Main .main{
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
}
.Main .main .pic button{
   width: 50px;
   height: 50px;
   font-size: 23px;
   visibility: hidden;
 }
.Main .main .logo img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 7px;
}


.Main .main .menus{
   display: flex;
   
} 
.Main .main .menus h3{
    display: flex;
    margin: 20px;
    font-size: 25px;
    color: black;
    transition: 0.7s;
    cursor: pointer;
 } 

 .Main .main .menus h3:hover{
    color: red;
    text-decoration: underline;
 }
    /* font-weight: 600; */
    /* border-bottom: 1px solid rgb(226, 73, 73); */
 
 
 .Main .main .menus .login{
    width: 100px;
    height: 40px;
    background-color: rebeccapurple;
    font-size: 25px;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 13px;
  transition: 0.7s;
  transform: scale(1);
 }
 .Main .main .menus .login:hover{
   transform: scale(1);
   border-bottom: none;
   border: 1px solid black;
   color: black;
   background-color: transparent;
}
 .Main .main .menus .lg{
 
   /* background-color: rebeccapurple; */
   color: white;
 }
 .Main .main .menus .lg:hover{
    color: black;
    background-color: transparent;
 }
 .Main .main .pics h1{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 23px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.7;
 }
 .Main .main .pics h1:hover{
   transform: scale(1.04);
 }
 .Main .main .logo{
   margin-right: 20px;
   cursor: pointer;
 }
 .Main .main .logo img{
   position: relative;
   bottom: 10px;
   right: 100px;
 }
.active{
   color: red;
}

@media only screen and (max-width: 950px){
   .Main .main .logo img{
      position: relative;
      bottom: 10px;
      right: 0px;
    }
}
@media only screen and (max-width: 800px){
   .Main .main .menu h3{
      font-size: 23px;
      margin-left: 7px;
    }
    .Main .main .pic h1{
      width: 50px;
      height: 50px;
      font-size: 23px;
    }
    .Main .main .menus .login{
      width: 90px;
      height: 40px;
      background-color: rebeccapurple;
      font-size: 23px;
   }
}
@media only screen and (max-width: 700px){
   .Main .main .menu{
    /* position: absolute; */
    top: 0px;
    /* z-index: 999; */
   
    border: 2px solid white;
   }
   .Main .main .menu h3{
     width: 100%;
     
     display: flex;
     justify-content: center;
     /* align-items: center; */
    
     border-bottom: 1px solid black;
    }
   .Main .main .menus{
      background-color:hsl(180, 100%, 95%);

      width: 100%;
       right: 0%;
       /* background-color: rgb(28, 96, 99); */
       z-index: 999;
       border-bottom: 1px solid black;
  
       align-items: center;
       justify-content: center;
       flex-direction: column;
       position: absolute;
       z-index: 999;
    }
    .Main .main .pic h1{
      width: 50px;
      height: 50px;
      font-size: 23px;
    }
    .Main .main .menus .login{
      width: 90px;
      height: 40px;
      background-color: rebeccapurple;
      font-size: 23px;
   }
   .Main .main .pics h1{
      position: relative;
      top: 0px;
   }
   .Main .main .pics{
     display: flex;
    
    }
   .Main .main .pic button{
      width: 40px;
      height: 40px;
      font-size: 23px;
      margin-top: 7px;
      visibility: visible;
      margin-left: 40px;
      border-radius: 10px;
      border: none;
      border: 1px solid black;
      cursor: pointer;
      background-color: blueviolet;
      color: wheat;
    }
   
   
}